
 html{
     background-color: antiquewhite;
     font-family:  'Karla', sans-serif;
 }



 

 .box {
     background-color: white;
 }


#topbar{
    position: absolute;
    top: 0rem;
    left: 5rem;
    display: inline-block;
    padding:1rem;
    text-align: center;
}



.payment {
    position: absolute;
    top: 0rem;
    left: 40rem;
    display: inline-block;
    padding:1rem;
    text-align: center;

   
}

.payment2 {
    position: absolute;
    top: 0rem;
    left: 70rem;
    display: inline-block;
    padding:1rem;
    text-align: center;
   
}


